*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
}

body{
    background-color: #FFFDE7;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00B8D4;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color:#000000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color:#00B8D4;
}

/* cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #90A4AE;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:black;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
 
 button:hover{
    box-shadow: 0px 0px 8px #00b8d488;
    transform: scale(1.05);
}

/* topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #000000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00B8D4;
}

.topo-do-site .txt-topo-site p {
    color: #000000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 35px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

/*estilo das especialidades */

section.especialidades{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #08138859;
} 

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

section.especialidades .especialidades-box{
    color:#000000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

section.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00b8d484;
}

section.especialidades .especialidades-box i{
    font-size: 58px;
    color: #00B8D4;
}

section.especialidades .especialidades-box h2{
    font-size: 28px;
    margin: 15px 0;
}

/* estilo do sobre */

section.sobre{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #08138859;
} 

section.sobre{
    padding: 40px 4%;
}

section.sobre .img-sobre img{
    border-radius: 35px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #000000;
}

.sobre .txt-sobre h2{
    font-size: 43px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00B8D4;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    border: none;
    background-color: #00B8D4;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO PROJETOS */

section.projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #08138858;
}  

section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-proj {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-proj:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010b0c63;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700px;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #B3E5FC;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000000;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00B8D4;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00B8D4;
}

footer .line-footer p i {
    color: #00B8D4;
    font-size: 22px;
}

footer .line-footer p a {
    color: #000000;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}